{% extends "layout.njk" %}

{% block content %}
    
  <h1>{{page.title}}</h1>
    <p>{{page.description}}</p>

    <ul>
        {% for choice in page.choices %}
                
            <li> <a href= "/story/{{choice.target_id}}"> {{choice.text}} </a></li>
        {% else %}
            <li>there are no choice RIP </li>
        {% endfor%}  
        <p>{{message }}</p>




    </ul>
{% endblock %}