{% extends "layout.njk" %}

{% block content %}
  <h1>{{ title }}</h1>
    <p>{{description}}</p>
    <ul>
        {% for choice in choices %}
            <li> <a href="/story.json{{choice.target.id }}"></a></li>
        {% else %}
            <li>there are no choice RIP </li>
        {% endfor%}  
        <p>{{ message }}</p>




    </ul>

  

{% endblock %}