body {
    font-family: "Comic Sans MS";
    font-size: 1.2rem;
    background-color: rgb(9, 0, 58);
    color: rgb(241, 224, 224);
    text-align:center;
    margin: 100px;
}

nav{
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  background: #000000;
  overflow-x: hidden;
  padding: 20px;
}

a{
    color: white;
    list-style: none;
}

li{
    list-style: none;
}

ul{
    padding: 0;
}
